:root {
    --primary-color: #B2B1CF;
    --secondary-color: #E1F2FE;
    --accent-color: #98D2EB;
    --text-color: #5A5A66;
    --background-color: #2A2B2E;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Courier New", Courier, monospace;
    letter-spacing: -1px;
    line-height: 1.2;
    white-space: pre-wrap;
  }

  h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }

  h4 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  p {
    font-size: 16px;
    font-weight: normal;
    width: 50%;
  }

  h1, h2, h3, h4, h5, h6, p, ul, li, a {
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    letter-spacing: -1px;
    line-height: 1;
  }
  
  p, ul, li, a {
    letter-spacing: -0.5px;
    line-height: 1.0;
  }

  .navbar {
    position: fixed;
    top: 20px;
    right: 20px;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar li {
    margin-right: 10px;
  }

  .navbar li:last-child {
    margin-right: 0; /* Remove margin from the last list item */
  }
  
  .navbar li a {
    text-decoration: none;
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: 4px;
  }
  
  .navbar li a:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
  }  

  .social-icons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .social-icons li {
    margin-right: 10px;
  }
  
  .social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--secondary-color);
    border-radius: 6px; /* Adjust the border-radius value for the desired roundness */
    color: var(--text-color);
    font-size: 20px;
    transition: background-color 0.3s ease;
  }
  
  .social-icons a:hover {
    background-color: var(--accent-color);
    color: var(--background-color);
  }
  
  /* Add more CSS rules as needed */
  