:root {
  --primary-color: #4A4E69; /* Dark Gray */
  --secondary-color: #9A8C98; /* Light Gray */
  --accent-color: #C9ADA7; /* Beige */
  --text-color: #F2E9E4; /* Light Beige */
  --background-color: #22223B; /* Dark Background */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Space Mono', monospace;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh; /* Adjust as needed */
}

.navbar {
  position: fixed;
  padding: 10px 0;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: right; /* Center the navbar items */
}

.navbar li {
  margin: 0 15px; /* Space between navbar items */
}

.navbar li a {
  color: var(--text-color);
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
}

.navbar li a:hover {
  background-color: var(--accent-color);
}

.container {
  max-width: 1200px; /* Limit the maximum width of the container */
  margin: 0 auto; /* Center the container */
}

.row {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping of columns */
  justify-content: center; /* Center the content */
}

.col-md-8, .col-lg-6, .col-md-4 {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center content horizontally */
  margin: 10px; /* Space between columns */
}

.skills-list {
  padding-left: 30px; /* Adjust the value for more or less indentation */
}

h2 {
  color: var(--primary-color);
  text-align: left; /* Align h2 elements to the left */
  width: 100%; /* Ensure h2 takes full width for alignment */
}

h3, h4 {
  color: var(--primary-color);
  text-align: left;
  font-size: 40px;
}

.social-icons {
  display: flex;
  justify-content: center; /* Center social icons */
  padding: 0;
}

.social-icons li {
  margin: 0 10px; /* Space between social icons */
}

.social-icons a {
  color: var(--text-color);
  font-size: 20px;
}

.social-icons a:hover {
  color: var(--accent-color);
}

p {
  line-height: 2.0;
}

h1 {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 80px;
  font-weight: bold;
  text-align: left;
}

h4 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

p, li {
  font-size: 15px;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  letter-spacing: -1px;
  line-height: 1;
}

p, ul, li, a {
  letter-spacing: -0.5px;
  line-height: 1.0;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  filter: blur(5px);
  z-index: -1;
}

.header img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
}

.navbar li:last-child {
  margin-right: 0; /* Remove margin from the last list item */
}

.navbar li a:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.social-icons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--secondary-color);
  border-radius: 6px; /* Adjust the border-radius value for the desired roundness */
  color: var(--text-color);
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.social-icons a:hover {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.card img {
  max-width: 100%; /* Ensure the image does not exceed the width of its container */
  height: auto; /* Maintain aspect ratio */
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
    width: 80%;
  }

  .navbar {
    top: 10px;
    right: 10px;
  }

  .navbar li {
    margin-right: 5px;
  }

  .navbar li a {
    padding: 5px 7px;
  }

  .social-icons {
    bottom: 10px;
    right: 10px;
  }

  .social-icons li {
    margin-right: 5px;
  }

  .social-icons a {
    width: 20px;
    height: 20px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  h4 {
    font-size: 14px;
  }

  p {
    font-size: 12px;
    width: 90%;
  }

  .navbar {
    top: 5px;
    right: 5px;
  }
}