:root {
  --primary-color: #512d38ff;
  --secondary-color: #b27092ff;
  --accent-color: #f4bfdbff;
  --text-color: #ffe9f3ff;
  --background-color: #87baabff;
}

header {
  height: 90vh;
  margin-bottom: 200px;
  margin-top: 30px;
}
main {
  height: 70vh;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Space Mono', monospace;
  letter-spacing: -1px;
  line-height: 1.0;
  white-space: pre-wrap;
  max-width: 100%; /* Set a maximum width to prevent horizontal scrolling */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

h1 {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 80px;
  font-weight: bold;
  text-align: left;
}

h4 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

p, li {
  font-size: 15px;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  letter-spacing: -1px;
  line-height: 1;
}

p, ul, li, a {
  letter-spacing: -0.5px;
  line-height: 1.0;
}

.header {
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  filter: blur(5px);
  z-index: -1;
}

.header img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
}

.navbar {
  position: fixed;
  top: 20px;
  right: 20px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 10px;
}

.navbar li:last-child {
  margin-right: 0; /* Remove margin from the last list item */
}

.navbar li a {
  text-decoration: none;
  color: var(--text-color);
  padding: 5px 10px;
  border-radius: 4px;
}

.navbar li a:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.project-container {
  display: flex;
  justify-content: center;
}

.project {
  flex: 0 0 calc(30% - 20px); /* Each project takes up a third of the screen width with spacing */
  background-color: var(--background-color);
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 0px 5px rgba(90, 90, 102, 1);
}

.experience-container {
  display: flex;
  justify-content: center;
}

.experience {
  flex: 0 0 calc(30% - 20px); /* Each experience takes up a third of the screen width with spacing */
  background-color: var(--background-color);
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 0px 5px rgba(90, 90, 102, 1);
}

.experience ul {
  padding-left: 20px;
}

.about-container {
  display: flex;
  justify-content: center;
}

.about {
  width: 30%; /* Adjust the width as needed to make it smaller */
  background-color: var(--background-color);
  padding: 20px;
  margin: 10px;
}

.about ul {
  padding-left: 20px;
}

.social-icons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--secondary-color);
  border-radius: 6px; /* Adjust the border-radius value for the desired roundness */
  color: var(--text-color);
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.social-icons a:hover {
  background-color: var(--accent-color);
  color: var(--background-color);
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
    width: 80%;
  }

  .navbar {
    top: 10px;
    right: 10px;
  }

  .navbar li {
    margin-right: 5px;
  }

  .navbar li a {
    padding: 5px 7px;
  }

  .social-icons {
    bottom: 10px;
    right: 10px;
  }

  .social-icons li {
    margin-right: 5px;
  }

  .social-icons a {
    width: 20px;
    height: 20px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  h4 {
    font-size: 14px;
  }

  p {
    font-size: 12px;
    width: 90%;
  }

  .navbar {
    top: 5px;
    right: 5px;
  }

}